<div class="mdl-grid films">
    <% @films.each do |film| %>
        <div class="mdl-cell mdl-card mdl-shadow--4dp film">
            <a href="/film/1">
                <img src="/assets/episode-<%= film.episode_id %>.jpg" />
            </a>
        </div>
    <% end %>
</div>
