// Place all the styles related to the film controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.film-details {
    h1 {
        margin: 0;
        padding: .5em .5em;
        color: white;
    }

    h4 { margin: 0; }

    header {
        text-align: center;
    }
    .crawl {
        color: yellow;
        background: black url('/assets/crawl.jpg');
        width: 100%;
        min-height: 30em;
        padding-bottom: 1em;

        br { display: none; }
        p {
            text-align: justify;
            line-height: 1;
            font-size: 2em;
        }

        .centered-block {
            max-width: 440px;
        }
    }

    .film-cover {
        width: 300px;
        height: 450px;
    }

    .characters {
        h2 { color: white; }
        background-color: black;
    }

    .mdl-card__supporting-text {
        padding-top: 0;
        padding-bottom: 0;
    }

    dl, dd { margin: 0; }
}
