// Place all the styles related to the film controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.film-details {
    section {
        min-height: 40em;
        min-height: 100vh;
    }

    h4 { margin: 0; }

    header {
        text-align: center;
    }

    .banner {
        width: 100%;
        background: black;

        background: black;
        background-size: cover;
        background-position: center;
    }
    .banner.episode-1 { background-image: url('/assets/banners/episode-1.gif'); }
    .banner.episode-2 { background-image: url('/assets/banners/episode-2.gif'); }
    .banner.episode-3 { background-image: url('/assets/banners/episode-3.gif'); }
    .banner.episode-4 { background-image: url('/assets/banners/episode-4.gif'); }
    .banner.episode-5 { background-image: url('/assets/banners/episode-5.gif'); }
    .banner.episode-6 { background-image: url('/assets/banners/episode-6.gif'); }
    .banner.episode-7 { background-image: url('/assets/banners/episode-7.gif'); }

    .crawl {
        color: yellow;
        background: black url('/assets/crawl.jpg');
        width: 100%;
        padding-bottom: 1em;

        br { display: none; }

        p {
            text-align: justify;
            line-height: 1;
            font-size: 2em;
            padding-bottom: 1em;
        }

        .centered-block {
            max-width: 440px;
        }

        p.opener {
            color: #25B5C4;
            padding-top: 30em;
            padding-top: 50vh;
            padding-bottom: 30em;
            padding-bottom: 50vh;
        }

        p.title {
            text-transform: uppercase;
            text-align: center;
        }
    }

    .film-cover {
        width: 300px;
        height: 450px;
    }

    .characters {
        h2 { color: white; }
        background-color: black;
        dl { padding-bottom: 1em; }
    }

    .mdl-card__supporting-text {
        padding-top: 0;
        padding-bottom: 0;
    }

    dl, dd { margin: 0; }
}
